1 '=============================================================
1 '== {{ project_name }}
1 '== {{ compilation }}
1 '=============================================================

10 PRINT "HELLO WORLD"