[compilation]
build = {{ compilation }}
version = 0.0.1

[general]
name = {{ project_name }}
description = None
template = {{ template }}
authors = authors <authors@mail.com>

[config]
concatenate.bas.files = No
validate.83.files = Yes
name.bas.file = {{ project_name }}.bas
name.dsk.file = {{ project_name }}.dsk

[rvm]
model.cpc = 6128

[m4]
ip = 0.0.0.0